<h1>Here is our story:</h1>

<h2>I was watching TV with Mark, when suddenly a breaking news alert showed a llama 
    running on the freeway. Even though we saw that three years ago, we still laugh to this day.
    We love funny videos, o we spend hours watching them everyday.</h2>

<a href="/">Start Over!</a>